.weeklist-main-container {
  display: flex;
  width: 90%;
  margin: 20px auto;
  overflow-x: scroll;
}

.weeklist-main-container > div {
  text-align: center;
  border: 3px solid rgb(0, 166, 250);
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 0 1.5em;
  cursor: pointer;
  background-color: rgb(255, 253, 247);
}
