.weeklist-main-container {
  display: flex;
  width: 90%;
  margin: 20px auto;
  overflow-x: scroll;
}

.weeklist-main-container img {
  width: 20px;
}

.weeklist-main-container > div > div {
  margin-top: 12px;
  margin-bottom: 0px;
}

.weeklist-main-container > div {
  min-width: 50px;
  margin-bottom: 5px;
  text-align: center;
  border: 3px solid rgb(0, 166, 250);
  font-weight: bold;
  font-size: 0.8rem;
  margin-right: 10px;
  padding: 0 10px;
  cursor: pointer;
  background-color: rgb(255, 253, 247);
}

.weeklist-main-container > div p:nth-child(1) {
  margin-top: 5px;
  margin-bottom: -10px;
}

.weeklist-main-container > div p:last-child {
  margin-top: 5px;
  margin-bottom: 10px;
}
