.search {
  padding: 12px 0;
}
.search-div {
  /* border: 1px solid black; */
  /* font-size: 2.5rem; */
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.search-div span {
  position: absolute;
  top: 15px;
  font-size: 1.8rem;
}

.search-div span:nth-child(1) {
  left: 15px;
}

.search-div span:nth-child(3) {
  right: 15px;
}

.search-div input {
  width: 100%;
  padding: 20px 3.5em;
  font-weight: bolder;
  border: none;
  font-size: 1.1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 10px -3px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -2px, rgba(0, 0, 0, 0.05) 0px -8px 12px 0px,
    rgba(0, 0, 0, 0.01) 0px -2px 3px -2px;
}
